@font-face {
	font-family: 'WebPlus_IBM_VGA_8x16';
	src:  url('./assets/WebPlus_IBM_VGA_8x16.woff');
  }

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden; 
	display: flex;
	align-items: center;
	justify-content: center;
}

body {
	color: #222;
	background-color: #000000;
	font-family: "WebPlus_IBM_VGA_8x16";
	-webkit-font-smoothing: none;
}

input, button {
	font-family: "WebPlus_IBM_VGA_8x16";
	-webkit-font-smoothing: none;
}